import React from 'react';
import {{pascalCase name}}Props from './index.types';
import * as styles from './index.module.scss'

const {{pascalCase name}} = ({}:{{pascalCase name}}Props) => {
  return (
    <div className={styles.wrap}>
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};